@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

:root{
    /* --------- Color --------- */
        /* Background Color */
        --bg-color-primary: rgb(42, 9, 68);

        /* Text Color */
        --text-color: rgb(255, 255, 255);
        --link-text-color: rgb(254, 215, 102);

        /* Color Gradient */
        --wa-gradient: linear-gradient(20deg, #179c8d, #25D366);
        --wa-gradient-hover: linear-gradient(20deg, #17aa99, #29eb70);
        --ig-gradient: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
        --ig-gradient-hover: linear-gradient(45deg, #ff9e37 0%, #ff7543 25%, #fa2c4b 50%, #f02a79 75%, #eb1faa 100%);
    /* -------------------------- */
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color-primary);
    text-align: center;
    font-weight: 900;
    margin: 6.5% 3% 0;
    max-width: 100%;
    min-height: 100%;
    height: auto;
    letter-spacing: 0.1em;
}

h2,h3,p,a {
    color: var(--text-color);
}

a:hover {
    transition: all 0.2s ease-in-out;
    color: var(--link-text-color);
}

h3 {
    margin-top: 50px;
    font-size: 10px;
    font-weight: 500;
}

h3 img {
    width: 10px;
}

.sub {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
}

.links {
    margin-top: -10px;
}

.links__item {
    display: block;
    max-width: 400px;
    margin: 10px auto 15px;
    margin-bottom: -15px;
    padding: 15px 20px;
    font-size: 0.95rem;
    line-height: 1.5;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.links__item .links__wa {
  border-radius: 25px;
  border: 2px solid var(--wa-gradient);
  background: var(--wa-gradient);
  color: var(--text-color);
}

.links__item .links__wa:hover {
    background: var(--wa-gradient-hover);
}

.links__item .links__ig {
    border-radius: 25px;
    background: var(--ig-gradient);
    color: var(--text-color);
}

.links__item .links__ig:hover {
    background: var(--ig-gradient-hover);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {margin: 16.5% 3% 0;}
}
